<%-include("./includes/header")%>
    <link rel="stylesheet" href="/CSS/allCompanies.css" />
    <link rel="stylesheet" href="/CSS/general.css" />
    <title>Andy Mobiles Admin Page</title>
    </head>

    <body>
        <nav class="navbar w-100">
            <div class="container d-flex justify-content-evenly">
                <div class="navbar-brand"><a href="/admin/">Admin</a></div>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link nav-link-fade-up" aria-current="page" href="/admin">Home</a>
                    </li>
                    <%if(member.mb_type==="ADMIN"){%>
                        <li class="nav-item">
                            <a class="nav-link nav-link-fade-up" aria-current="page" id="active"
                                href="/admin/companies/?order=ALL">Companies</a>
                        </li>
                        <%}else if(member.mb_type==="COMPANY" ){%>
                            <li class="nav-item">
                                <a class="nav-link nav-link-fade-up" aria-current="page"
                                    href="/admin/products/?order=ALL">Products</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link nav-link-fade-up" aria-current="page"
                                    href="/admin/create-product">Add Product</a>
                            </li>
                            <%}%>
                                <li class="nav-item">
                                    <a class="nav-link nav-link-fade-up" href="/admin/notifications">Notification</a>
                                </li>
                                <li class="nav-item"> 
                                    <a class="nav-link nav-link-fade-up" href="/admin/my-page">My Page</a>
                                </li>
                </ul>           
                <div class="avatar d-flex gap-3">
                    <img src=<%-member.mb_image? `../${member.mb_image}`:"/icons/default_user.svg"%> class="avatar_img" alt=""/>
                    <a href="/admin/notifications" class="position-relative nav-item text-dark">
                        <i class="fa-regular fa-envelope"></i>
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        0
                        </span>
                    </a>
                    <a href="/admin/logout" class="btn btn-outline-secondary m-auto">Logout</a>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="homePage position-relative">
                <div class="homePage-title">
                    All Companies
                </div>
                <div class="dropdown filter ms-5">
                    <button class="btn btn-light dropdown-toggle w-50" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        filter
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/admin/companies?order=ALL">All</a></li>
                        <li><a class="dropdown-item" href="/admin/companies?order=ACTIVE">ACTIVE</a></li>
                        <li><a class="dropdown-item" href="/admin/companies?order=ONPAUSE">ONPAUSE</a></li>
                        <li><a class="dropdown-item" href="/admin/companies?order=DELETED">DELETED</a></li>
                    </ul>
                </div>
                <div class="table-list">
                    <table>
                        <thead>
                            <tr>
                                <th>
                                    NO
                                </th>
                                <th>
                                    Company Name
                                </th>
                                <th>
                                    Amount of Products
                                </th>
                                <th>
                                    Top Company
                                </th>
                                <th>
                                    Change Status
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            <%companies.map((ele,index)=>{%>
                                <tr>
                                    <td>
                                        <%-index+1%>
                                    </td>
                                    <td>
                                        <%-ele.mb_nick%>
                                    </td>
                                    <td>
                                        <%-ele.mb_products_cnt%>
                                    </td>
                                    <td class="form-check form-switch d-flex justify-content-center mt-1">
                                        <input class="form-check-input mb_top" type="checkbox" role="switch"
                                            <%-ele.mb_top==="Y" ? "checked" :""%> id=<%-ele._id%> >
                                    </td>
                                    <td>
                                        <select class="form-select mb_status" id=<%-ele._id%>>
                                            <option value="ACTIVE" <%-ele.mb_status==="ACTIVE" ? "selected" :""%>>Active
                                            </option>
                                            <option value="ONPAUSE" <%-ele.mb_status==="ONPAUSE" ? "selected" :""%>
                                                >OnPause</option>
                                            <option value="DELETED" <%-ele.mb_status==="DELETED" ? "selected" :""%>
                                                >Deleted</option>
                                        </select>
                                    </td>
                                </tr>
                                <%})%>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <script>
            $(".mb_top").on("change", (e) => {
                const mb_id = e.target.id;
                const mb_top = e.target.checked ? "Y" : "N";
                const update_data = { _id: mb_id, mb_top: mb_top };
                if (confirm("Do you want to change Company's top status ?")) {
                    axios.post("/admin/memberupdate", update_data).then(response => console.log(response.data.value)).catch(err => console.log(err.message))
                }
            })
            $(".mb_status").on("change", (e) => {
                const mb_id = e.target.id;
                const mb_status = e.target.value;
                const update_data = {
                    _id: mb_id,
                    mb_status: mb_status
                }
                if (confirm("Do you want to change Company's status ?")) {
                    axios.post("/admin/memberupdate", update_data).then(response => console.log(response.data.value)).catch(err => console.log(err.message))
                    window.location.reload()
                }
            })
        </script>
    </body>
<%-include("./includes/footer")%>