<%-include("./includes/header")%>
    <link rel="stylesheet" href="/CSS/notification.css">
    <link rel="stylesheet" href="/CSS/general.css">
    <title>Notifications</title>
    </head>

    <body>
        <nav class="navbar w-100">
            <div class="container d-flex justify-content-evenly">
                <div class="navbar-brand"><a href="/admin/">Admin</a></div>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link nav-link-fade-up" aria-current="page" href="/admin">Home</a>
                    </li>
                    <%if(member.mb_type==="ADMIN"){%>
                        <li class="nav-item">
                            <a class="nav-link nav-link-fade-up" aria-current="page"
                                href="/admin/companies/?order=ALL">Companies</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-link-fade-up" aria-current="page"
                                href="/admin/all-users/?order=ALL">Users</a>
                        </li>
                        <%}else if(member.mb_type==="COMPANY" ){%>
                            <li class="nav-item">
                                <a class="nav-link nav-link-fade-up" aria-current="page"
                                    href="/admin/products/?order=ALL">Products</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link nav-link-fade-up" aria-current="page"
                                    href="/admin/create-product">Add Product</a>
                            </li>
                            <%}%>
                                <li class="nav-item">
                                    <a class="nav-link nav-link-fade-up" id="active"
                                        href="/admin/notifications">Notification</a>
                                </li>
                                <li class="nav-item"> 
                                    <a class="nav-link nav-link-fade-up" href="/admin/my-page">My Page</a>
                                </li>
                </ul>
                <div class="avatar d-flex gap-3 align-items-center">
                    <a href="/admin/my-page">
                        <img src=<%-member.mb_image? `../${member.mb_image}`:"/icons/default_user.svg"%>
                        class="avatar_img"
                        alt="">
                    </a>
                    <a href="/admin/notifications" class="position-relative nav-item text-dark">
                        <i class="fa-regular fa-envelope"></i>
                        <span class="position-absolute top-0 start-100 translate-middle p-2 bg-success border border-light rounded-circle">
                        
                        </span>
                    </a>
                    <a href="/admin/logout" class="btn btn-outline-secondary m-auto">Logout</a>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="notification">
                <div class="notification-chat" id="chat">
                    <%notifications.map((ele)=>{%>
                        <%if(ele.notify_reply==="Y"){%>
                            <div class="msg-reply gap-4">
                                <img src=<%-ele.notify_sender_image%> class="msg_avatar" alt="">
                                <div class="reciever-msg">
                                    <div class="sender-name"> 
                                        <%-ele.notify_reciever!==member.mb_nick?`Reply to ${ele.notify_reciever}`:`Reply from ${ele.notify_sender}`%>
                                    </div>
                                    <div class="reply_msg">
                                        <div class="old_msg">"<i><b><%-ele.notify_context.old_msg%></b></i>"</div>
                                        <div class="fs-5"><%-ele.notify_context.new_msg%></div>
                                    </div>
                                </div>
                                <div class="reply" onclick="return reply(this)" id=<%-ele.notify_sender%>>
                                    Reply
                                </div>
                                <div class="msg_date_left">
                                    <%-new Date(ele.createdAt).getFullYear()%> -
                                        <%-String(new Date(ele.createdAt).getMonth() + 1).padStart(2, '0' )%> -
                                            <%-String(new Date(ele.createdAt).getDate()).padStart(2, '0' )%>
                                                <%-String(new Date(ele.createdAt).getHours()).padStart(2, '0' )%> :
                                                    <%-String(new Date(ele.createdAt).getMinutes()).padStart(2, '0' )%>
                                </div>
                            </div>
                        <%}else if(ele.notify_reciever===member.mb_nick){%>
                            <div class="msg-left d-flex gap-2">
                                    <img src=<%-ele.notify_sender_image%> class="msg_avatar" alt="">
                                    <div class="sender-msg">
                                        <div class="sender-name">
                                            <%-ele.notify_sender%>
                                        </div>
                                        <div class="sender-msg">
                                            <%-ele.notify_context.new_msg%>
                                        </div>
                                    </div>
                                    <div class="reply" onclick="return reply(this)" id=<%-ele.notify_sender%>>
                                        Reply
                                    </div>
                                    <div class="msg_date_left">
                                        <%-new Date(ele.createdAt).getFullYear()%>-
                                            <%-String(new Date(ele.createdAt).getMonth() + 1).padStart(2, '0' )%>-
                                                <%-String(new Date(ele.createdAt).getDate()).padStart(2, '0' )%>
                                                    <%-String(new Date(ele.createdAt).getHours()).padStart(2, '0' )%>:
                                                        <%-String(new Date(ele.createdAt).getMinutes()).padStart(2, '0'
                                                            )%>
                                    </div>
                            </div>
                        <%}else if (ele.notify_sender===member.mb_nick){%>
                            <div class="msg-right gap-2">
                                <div class="reciever-msg">
                                            <div class="sender-name">
                                                <%-ele.notify_sender%>
                                            </div>
                                            <div>
                                                <%-ele.notify_context.new_msg%>
                                            </div>
                                </div>
                                <img src=<%-ele.notify_sender_image%> class="msg_avatar" alt="">
                                <div class="msg_date_right">
                                            <%-new Date(ele.createdAt).getFullYear()%> -
                                                <%-String(new Date(ele.createdAt).getMonth() + 1).padStart(2, '0' )%> -
                                                    <%-String(new Date(ele.createdAt).getDate()).padStart(2, '0' )%>
                                                        <%-String(new Date(ele.createdAt).getHours()).padStart(2, '0'
                                                            )%> :
                                                            <%-String(new
                                                                Date(ele.createdAt).getMinutes()).padStart(2, '0' )%>
                                </div>
                            </div>
                        <%}%> 
                    <%})%>
                </div>

                <div class="notification-msg">
                    <div class="notify-receiver">
                        <select name="" id="onlineUsers" class="onlineUsers form-select w-50 mt-2 mb-2">
                            <option>Online Users</option>
                        </select>
                        <input type="text" class="form-control reciever_name mb-2" placeholder="Who do you want to send msg">
                    </div>
                    <div class="replier" id="replier">
                        <div class="replier-name fs-1 fw-bold text-warning">
                            reply to someone
                        </div>
                        <button class="cancel_btn" onclick="return cancel_btn()">Cancel reply!</button>
                    </div>
                    <textarea name="notify_context" class="form-control" cols="30" rows="10" required></textarea>
                    <button class="btn btn-success fw-bold" onclick="return submit_msg()">Submit</button>
                </div>
            </div>
        </div>
        <script src="/socket.io/socket.io.js"></script>
        <script>
            let reply_msg = "N";
            let old_message=""
            function reply(ele) {
                reply_msg = "Y"
                const name = $(".reply").attr("id")
                $(".reciever_name").css("display", "none")
                $(".reciever_name").val(name)
                $(".replier-name").text(`reply to ${name}`)
                $(".replier").css("display", "flex")
                window.location.replace("#replier")
            }
            $(".reply").on("click", (e)=>{
                const list_old_msgs = e.target.parentElement.children[1].children[1].innerText.split('"')
                old_message =list_old_msgs[list_old_msgs.length-1]
                alert(old_message)

            })
            $(".onlineUsers").on('change', e=>{
                $(".reciever_name").val(e.target.value)
            })
            function cancel_btn() {
                reply_msg = "N";
                $(".reciever_name").css("display", "block")
                $(".reciever_name").val("")
                $(".replier").css("display", "none")
                window.location.replace("#chat")
            }
            const socket = io();
            //Online Users
            socket.on("onlineUsers", (data)=>{
                for(let user of data.onlinePeople){
                    $(".onlineUsers").append(`<option value=${user}>${user}</option`)
                }
            })

            socket.on('create_msg', (data) => {
                const { senderClientId, message } = data;
                alert(`You got a message from ${senderClientId}`)
                if (window.location.pathname.includes("/admin/notifications")) {
                    window.location.reload()
                }
            });
            function submit_msg() {
                const targetClientId = $(".reciever_name").val();
                let message;
                if ($(".replier").css("display") === "flex") {
                    message = {
                        old_msg: old_message,
                        new_msg: $("textarea").val()
                    }
                } else {
                    message = { new_msg: $("textarea").val() }
                }
                const sender_image = $(".avatar_img").attr("src")
                socket.emit('new_msg', { targetClientId, message, reply_msg, sender_image });
                window.location.reload()

            }
            // Listen for error messages from the server
            socket.on('errorMessage', (data) => {
                const { text } = data;
                console.error(`Error: ${text}`);
            });

            // Listen for general messages from the server
            socket.on('message', (data) => {
                const { text, clientId } = data;
                console.log(`Message from server to client ${clientId}: ${text}`);
            });

        </script>
    </body>
<%-include("./includes/footer")%>