<%-include("./includes/header")%>
    <link rel="stylesheet" href="/CSS/allProducts.css">
    <link rel="stylesheet" href="/CSS/general.css">
    <title>Products</title>
    </head>

    <body>
        <nav class="navbar w-100">
            <div class="container d-flex justify-content-evenly">
                <div class="navbar-brand"><a href="/admin/">Admin</a></div>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link nav-link-fade-up" aria-current="page" href="/admin">Home</a>
                    </li>
                    <%if(member.mb_type==="ADMIN"){%>
                        <li class="nav-item">
                            <a class="nav-link nav-link-fade-up" aria-current="page"
                                href="/admin/companies/?order=ALL">Companies</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-link-fade-up" aria-current="page"
                                href="/admin/all-users/?order=ALL">Users</a>
                        </li>
                        <%}else if(member.mb_type==="COMPANY" ){%>
                            <li class="nav-item">
                                <a class="nav-link nav-link-fade-up" id="active" aria-current="page"
                                    href="/admin/products/?order=ALL">Products</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link nav-link-fade-up" aria-current="page"
                                    href="/admin/create-product">Add Product</a>
                            </li>
                            <%}%>
                                <li class="nav-item">
                                    <a class="nav-link nav-link-fade-up" href="/admin/notifications">Notification</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link nav-link-fade-up" href="/admin/my-page">My Page</a>
                                </li>
                </ul>
                <div class="avatar d-flex gap-3 align-items-center">
                    <a href="/admin/my-page">
                        <img src=<%-member.mb_image? `/${member.mb_image}`:"/icons/default_user.svg"%>
                        class="avatar_img"
                        alt="">
                    </a>
                    <a href="/admin/notifications" class="position-relative nav-item text-dark">
                        <i class="fa-regular fa-envelope"></i>
                        <span
                            class="position-absolute top-0 start-100 translate-middle p-2 bg-success border border-light rounded-circle">

                        </span>
                    </a>
                    <a href="/admin/logout" class="btn btn-outline-secondary m-auto">Logout</a>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="products position-relative">
                <div class="subject-title">
                    All Products
                </div>
                <div class="dropdown filter ms-5">
                    <button class="btn btn-light dropdown-toggle w-50" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <%-filterTitle%>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/admin/products?order=ALL">All</a></li>
                        <li><a class="dropdown-item" href="/admin/products?order=PROCESS">Process</a></li>
                        <li><a class="dropdown-item" href="/admin/products?order=PAUSED">Paused</a></li>
                        <li><a class="dropdown-item" href="/admin/products?order=DELETED">Deleted</a></li>
                    </ul>
                </div>
                <div class="table-list">
                    <table>
                        <thead>
                            <tr>
                                <th>
                                    NO
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Color
                                </th>
                                <th>
                                    Memory
                                </th>
                                <th>
                                    Ram
                                </th>
                                <th>
                                    Discount
                                </th>
                                <th>
                                    Actual Price
                                </th>
                                <th>
                                    Product Status
                                </th>
                                <th>
                                    In Market
                                </th>
                                <th>
                                    Mothly Fee
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            <%poducts.map((ele,index)=>{%>
                                <tr key=<%-ele._id%>>
                                    <td>
                                        <%-index+1%>
                                    </td>
                                    <td>
                                        <%-ele.product_name%>
                                    </td>
                                    <td>
                                        <%-ele.product_color%>
                                    </td>
                                    <td>
                                        <%-ele.product_memory%>
                                    </td>
                                    <td>
                                        <%-ele.product_ram%>
                                    </td>
                                    <td>
                                        <input type="number" id=<%-ele._id%> placeholder=<%-ele.product_discount%>
                                            class="discount_percent me-2">%
                                    </td>
                                    <td id="actual_price">
                                        $<span><%-ele.product_price%></span>
                                    </td>
                                    <td>
                                        <select class="form-select product_status" id=<%-ele._id%>>
                                            <option value="PROCESS" <%-ele.product_status==="PROCESS" ?"selected":""%>
                                                >Process</option>
                                            <option value="PAUSED" <%-ele.product_status==="PAUSED" ?"selected":""%>
                                                >Paused</option>
                                            <option value="DELETED" <%-ele.product_status==="DELETED" ?"selected":""%>
                                                >Deleted</option>
                                        </select>
                                    </td>
                                    <td>
                                        <div class="form-check form-switch" id=<%-ele._id%>>
                                            <input class="form-check-input new_released" type="checkbox" role="switch"
                                                id="new_product" <%-ele.product_new_released=="Y" ?"checked":""%>>
                                            <label class="form-check-label" for="new_product">New Released
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <select name="" id=<%-ele._id%> class="monthly_fee form-select">
                                            <option value=0 <%-ele?.product_contract==0?"selected":""%>
                                                >0
                                                Months</option>
                                            <option value=6 <%-ele?.product_contract==6?"selected":""%>
                                                >6
                                                Months</option>
                                            <option value=12 <%-ele?.product_contract==12?"selected":""%>
                                                >12
                                                Months</option>
                                            <option value=24 <%-ele?.product_contract==24?"selected":""%>
                                                >24
                                                Months</option>
                                        </select>
                                    </td>
                                </tr>
                                <%})%>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <script>
            $(".monthly_fee").on("change", (e) => {
                if (e.target.id && confirm(`Do you want to change current monthly contract  of your product to ${e.target.value} months ?`)) {
                    axios.post(`/products/targetProductEdit/${e.target.id}`, { product_contract: e.target.value })
                }
            })
            $(".new_released").on("change", (e) => {
                const product_id = e.target.parentElement.id;
                const product_update = e.target.checked ? "Y" : "N"
                if (confirm("Do you want to change current new released of your product ?")) {
                    axios.post(`/products/targetProductEdit/${product_id}`, { product_new_released: product_update })
                }
            })
            $(".discount_percent").on("change", (e) => {
                const product_update = { product_discount: e.target.value };
                const product_id = e.target.id;
                if ((e.target.value > 0 && e.target.value <= 100) && confirm("Do you want to change current discount of your product ?")) {
                    axios.post(`/products/targetProductEdit/${product_id}`, product_update).then().catch(err => alert(err.message))
                }
            })
            $(".product_status").on("change", (e) => {
                const product_status = { product_status: e.target.value };
                const product_id = e.target.id;
                if (confirm("Do you want to change current status of your product ?")) {
                    axios.post(`/products/targetProductEdit/${product_id}`, product_status).then();
                }
            })
        </script>
    </body>
<%-include("./includes/footer")%>