<%-include("./includes/header")%>
    <link rel="stylesheet" href="/CSS/allProducts.css">
    <link rel="stylesheet" href="/CSS/general.css">
    <title>Products</title>
    </head>

    <body>
        <nav class="navbar w-100">
            <div class="container d-flex justify-content-evenly">
                <div class="navbar-brand"><a href="/admin/">Admin</a></div>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link nav-link-fade-up" aria-current="page" href="/admin">Home</a>
                    </li>
                    <%if(member.mb_type==="ADMIN"){%>
                        <li class="nav-item">
                            <a class="nav-link nav-link-fade-up" aria-current="page"
                                href="/admin/companies/?order=ALL">Companies</a>
                        </li>
                        <%}else if(member.mb_type==="COMPANY" ){%>
                            <li class="nav-item">
                                <a class="nav-link nav-link-fade-up" aria-current="page"
                                    href="/admin/products/?order=ALL">Products</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link nav-link-fade-up" aria-current="page"
                                    href="/admin/create-product">Add Product</a>
                            </li>
                            <%}%>
                                <li class="nav-item">
                                    <a class="nav-link nav-link-fade-up" href="#">Notification</a>
                                </li>
                </ul>
                <div class="avatar d-flex gap-3">
                    <img src=<%=member.mb_image? member.mb_image:"/icons/avatar_ex_3.jpg"%> alt="">
                    <i class="fa-regular fa-envelope"></i>
                    <a href="/admin/logout" class="btn btn-outline-secondary m-auto">Logout</a>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="products position-relative">
                <div class="subject-title">
                    All Products
                </div>
                <div class="dropdown filter ms-5">
                    <button class="btn btn-light dropdown-toggle w-50" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <%-filterTitle%>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/admin/products?order=ALL">All</a></li>
                        <li><a class="dropdown-item" href="/admin/products?order=ONSALE">Onsale</a></li>
                        <li><a class="dropdown-item" href="/admin/products?order=NOSALE">Nosale</a></li>
                        <li><a class="dropdown-item" href="/admin/products?order=DELETED">Deleted</a></li>
                    </ul>
                </div>
                <div class="table-list">
                    <table>
                        <thead>
                            <tr>
                                <th>
                                    NO
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Color
                                </th>
                                <th>
                                    Memory
                                </th>
                                <th>
                                    Ram
                                </th>
                                <th>
                                    Water Proof
                                </th>
                                <th>
                                    Manufactor Date
                                </th>
                                <th>
                                    Current Condition
                                </th>
                                <th>
                                    Discount
                                </th>
                                <th>
                                    Price
                                </th>
                                <th>
                                    Current Status
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            <%poducts.map((ele,index)=>{%>
                                <tr key=<%-ele._id%>>
                                    <td>
                                        <%-index+1%>
                                    </td>
                                    <td>
                                        <%-ele.product_name%>
                                    </td>
                                    <td>
                                        <%-ele.product_color%>
                                    </td>
                                    <td>
                                        <%-ele.product_memory%>
                                    </td>
                                    <td>
                                        <%-ele.product_ram%>
                                    </td>
                                    <td>
                                        <%-ele.product_water_proof%>
                                    </td>
                                    <td>
                                        <%-ele.product_date_manufacture%>
                                    </td>
                                    <td>
                                        <%-ele.product_condition%>
                                    </td>
                                    <td>
                                        <%-ele.product_discount%>
                                    </td>
                                    <td>
                                        <%-ele.product_price%>
                                    </td>
                                    <td>
                                        <select class="form-select product_status" id=<%-ele._id%>>
                                            <option value="ONSALE" <%-ele.product_status==="ONSALE" ?"selected":""%>
                                                >Onsale</option>
                                            <option value="NOSALE" <%-ele.product_status==="NOSALE" ?"selected":""%>
                                                >Nosale</option>
                                            <option value="DELETED" <%-ele.product_status==="DELETED" ?"selected":""%>
                                                >Deleted</option>
                                        </select>
                                    </td>
                                </tr>
                                <%})%>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <script>
            $(".product_status").on("change", (e) => {
                const product_status = { product_status: e.target.value };
                const product_id = e.target.id;
                if (confirm("Do you want to change current status of your product ?")) {
                    axios.post(`/admin/product-edit/${product_id}`, product_status).then();
                }
            })
        </script>
    </body>
<%-include("./includes/footer")%>